@import 'base.css';

#app {
  max-width: 1700px;
  margin: 0 auto;
  padding: 5rem;
}

.footer_text {
  color: red;
}

.v-application {
  background: transparent !important;
}

.mt-5rem {
  margin-top: 5rem;
}

.visible {
  background: var(--white) !important;
}

@media (prefers-color-scheme: dark) {

  .visible {
    background: var(--black) !important;
  }

}